.confirm-window{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.678);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 998;
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease;
}

.confirm-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    color: black;
    padding: 2em;
    border-radius: 10px;
    gap: 1em;
}

.confirm-btn-container{
    display: flex;
    gap: 1em;
    justify-content: center;
}
.confirm-btn-container button {
  flex: 1; 
}